**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/TestResults
**/coverage
**/*.log
**/*.pid
**/Meteohost/appsettings.Production.json
**/ExpressGateway/appsettings.Development.json
**/ExpressGateway.Tests/bin
**/ExpressGateway.Tests/obj
**/ExpressGateway.Stubs/bin
**/ExpressGateway.Stubs/obj
LICENSE
README.md
*.md
*.tmp
*.swp
*.swo
.DS_Store
Thumbs.db
